<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tabs - Ukulele, Guitar, Tab-oo!{% endblock %}</title>
        {% stylesheets 
        
            '@TabooMainBundle/Resources/assets/styles.css'
            output = 'css/styles.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
            <script src="/taboo/web/js/javascript_jquery-latest_2.js"></script>
            {% block head %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
            
        <header>
            
            <h1>Tab-oo</h1>
            
            <nav>
                <a href="#">Browse Tabs</a>
                <a href="#">Top Composers</a>
                <a href="{{ path('personCreate') }}">Sign Up</a>
                <a href="#">Help</a>
            </nav>
        
        </header>

        {% block body %}{% endblock %}
        
        {% javascripts 
    
        output = 'js/javascript.js' %}
        <script src="{{ asset_url }}"></script>
      
        {% endjavascripts %}
        
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
