<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tabs - Ukulele, Guitar, Tab-oo!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets 
        
            '@TabooMainBundle/Resources/assets/bootstrap/css/bootstrap.min.css'
            output = 'css/styles.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            
        {% endstylesheets %}
            {% block head %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
    
        <div class="container-fluid">
            
            <header>
            
                <div class="row-fluid">
                
                    <h1>Tab-oo</h1>
                    
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li class="active"><a href="#">Browse Tabs</a></li>
                                <li><a href="#">Top Composers</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            
            </header>
    
            {% block body %}{% endblock %}
        
        </div>
        
        {% block javascripts %}{% endblock %}
        {% javascripts 
        
            '@TabooMainBundle/Resources/assets/bootstrap/js/bootstrap.min.js'
            'http://code.jquery.com/jquery-latest.js' 
            output = 'js/javascript.js' %}
            <script src="{{ asset_url }}"></script>
          
        {% endjavascripts %}
    </body>
</html>
