<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tabs - Ukulele, Guitar, Tab-oo!{% endblock %}</title>
        {% stylesheets 
        
            '@TabooMainBundle/Resources/assets/styles.css'
            output = 'css/styles.css' %}
            <link rel="stylesheet" href="{{ asset_url }}">
            
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
            <script src="/taboo/web/js/javascript_jquery-latest_2.js"></script>
            {% block head %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body> 
    
        <div class="container-fluid">
            
            <header>
                
                <h1>Tab-oo</h1>
                
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li><a href="#">Browse Tabs</a></li>
                            <li><a href="#">Top Composers</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            
            </header>
    
            {% block body %}{% endblock %}
            
            {% javascripts 
        
            output = 'js/javascript.js' %}
            <script src="{{ asset_url }}"></script>
          
            {% endjavascripts %}
            
            {% block javascripts %}{% endblock %}
        
        </div>
    </body>
</html>
