{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets "@TabooMainBundle/Resources/public/css/composer.css" %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
{% endstylesheets %}
{% endblock %}

{% block head %}
<script src="http://www.html5canvastutorials.com/libraries/kinetic-v4.0.3.js"></script>
{% javascripts "@TabooMainBundle/Resources/public/js/composer.js"%}
<script src="{{asset_url}}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
<div id="composerDiv">
</div>
<pre id="jsonText"></pre>


{% endblock %}