{% extends '::base.html.twig' %}

{% block body %}

<div class="row-fluid">
    
    <div class="span12">
        <section class="hero-unit">
            <h1>What is Tab-oo?</h1>
            <p>Tab-oo is an online tablature composing and consuming tool for people who love string instruments!</p>
            <p>
                <a class="btn btn-primary btn-large">
                    Learn More
                </a>
            </p>
        </section>
    </div>

</div>

{% endblock %}