{% extends '::base.html.twig' %}

{% block body %}

{% block javascripts %}

<script>

</script>

{% endblock %}

    <section>
        <h1>What is Tab-oo?</h1>
        <p>Tab-oo is an online tablature composing and consuming tool for people who love string instruments!</p>
    </section>

{% endblock %}