{% extends '::base.html.twig' %}

{% block body %}

<div class="row-fluid">
    
    <div class="span2">       
        <section id="hero">Side nav</section>
    </div>
    
    <div class="span10">
        <section id="main-content">
            Main taboo content
        </section>
    </div>

</div>

{% endblock %}