<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/ext-3.4.0/resources/css/ext-all.css"/>
        <script type="text/javascript" src="/ext-3.4.0/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="/ext-3.4.0/ext-all-debug.js"></script>
        <script type="text/javascript">
            Ext.BLANK_IMAGE_URL = "/ext-3.4.0/resources/images/default/s.gif";
            </script>
    {% javascripts 
        "@TabooMainBundle/Resources/public/js/sandbox.js"
    %}
            <script type="text/javascript" src="{{asset_url}}"></script>
    {% endjavascripts %}
            <style type="text/css">
                    .myDiv {
                        border: 1px solid #AAAAAA;
                        width: 200px;
                        cursor: pointer;
                        padding: 2px 2px 2px 2px;
                        margin: 2px 2px 2px 2px;
                    }
                </style>
            </head>

            <body>

            </body>

        </html>