{% extends '::base.html.twig' %}

{% block body %}

{% block javascripts %}

<script>

$(document).ready(function() {

    $('#createUserButton').click(function(event) {
        
        event.preventDefault();
        event.stopImmediatePropagation();
        
        var username = $('#username').val();
        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();
        
        $.ajax({
            
            type : 'POST',
            url  : '{{ path('personCreate') }}',
            data : {
                'username'        : username, 
                'password'        : password,
                'confirmPassword' : confirmPassword
            },
            beforeSend:function() {
       
            },
            success:function(data) {
                
                console.log(data);
            },
            error:function() {
        
            }
        });
    });       
});

</script>

{% endblock %}

    <section>
    
        <h1>Create Account</h1>
        
        <form>
            <p>
                <label for="username">Username</label>
                <input id="username" name="username" type="text">
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </p>
            <p>
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" type="password">
            </p>
            <p>
                <input type="submit" value="Submit" text="submit" name="createUserButton" id="createUserButton">
            </p>
        </form>
        
    </section>

{% endblock %}